
/*=============== POPUP MODAL ===============*/
.modal {
	position: fixed;
	inset: 0;
	background-color: hsla(5, 90%, 4%, .2);
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(24px);
	display: grid;
	place-items: center;
	padding: 2rem 1.5rem;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: var(--z-modal);
	transition: opacity .4s, visibility .4s;
  }
  
  .modal__card {
	position: relative;
	background-color: var(--body-color);
	padding: 3rem 1.25rem 2rem;
	display: grid;
	row-gap: 1.5rem;
	text-align: center;
	transform: rotateX(90deg);
	transition: transform .6s;
  }
  
  .modal__close {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	font-size: 1.5rem;
	color: var(--title-color);
	cursor: pointer;
  }
  
  .modal__img {
	width: 220px;
	justify-self: center;
	filter: drop-shadow(0 8px 16px hsla(5, 90%, 4%, .2));
  }
  
  .modal__name {
	font-size: var(--h2-font-size);
	color: var(--title-color);
	margin-bottom: .5rem;
  }
  
  .modal__info {
	margin-bottom: 1rem;
  }
  
  
  
  
  /* Active modal */
  .active-modal {
	opacity: 1;
	visibility: visible;
	pointer-events: initial;
  }
  
  .active-modal .modal__card {
	transform: rotateX(0);
  }


  /*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {

  
	.modal {
	  padding-inline: 1rem;
	}
	.modal__buttons {
	  flex-direction: column;
	}
  }

  /* For medium devices */
@media screen and (min-width: 540px) {

  
	.modal__card {
	  max-width: 350px;
	}
  }



  /* For large devices */
@media screen and (min-width: 1150px) {
  
	.modal__card {
	  max-width: 376px;
	  padding: 3rem 2.5rem 2.5rem;
	}
	.modal__img {
	  width: 250px;
	}
	.modal__name, 
	.modal__price {
	  font-size: var(--h3-font-size);
	}
	.modal__buttons {
	  column-gap: 1rem;
	}
  }
  
  


