.aboutSection{
	width: 100%;
	padding: 75px 8% 60px;
	background-color: var(--bg-clr-one);
}
.aboutContents .aboutImage{
	grid-area: aboutImage;
}
.aboutContents .aboutInfo{
	grid-area: aboutInfo;
}
.aboutContents .aboutSkills{
	grid-area: aboutSkills;
}
.aboutSection .aboutContents{
	display: grid;
	grid-template-columns: 2fr 5fr;
	grid-gap: 70px;
	grid-template-areas: 'aboutImage aboutInfo'
	                     'aboutSkills aboutSkills';
}
.aboutContents .aboutImage{
	position: relative;
	min-width: 300px;
	height: 380px;
}
.aboutContents .aboutImage img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	position: relative;
	z-index: 2;
}
.aboutContents .aboutImage::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	outline: 3px solid var(--primary-clr);
	top: 15px;
	left: 15px;
	z-index: 1;
}
.aboutContents .aboutInfo h2{
	position: relative;
	display: inline-block;
	font-size: 30px;
	color: var(--primary-heading-clr);
	text-transform: uppercase;
	margin-bottom: 5px;
}
.aboutContents .aboutInfo h2::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 110%;
	left: 0;
	background-color: var(--secondary-heading-clr);
}
.aboutContents .aboutInfo h2::after{
	content: '';
	position: absolute;
	width: 40%;
	height: 3px;
	top: calc(110% - 1px);
	left: 0;
	background-color: var(--primary-clr);
}
.aboutContents .aboutInfo h3{
	font-size: 20px;
	font-weight: 600;
	color: var(--primary-clr);
	padding: 14px 0px 15px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.aboutContents .aboutInfo p{
	color: var(--text-clr);
	font-size: var(--text-fontSize);
	line-height: 1.2;
	padding-bottom: 8px;
}
.aboutInfo .aboutPersonalInfo{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px 20px;
	margin-top: 14px;
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
}
.aboutInfo .aboutPersonalInfo div{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.aboutPersonalInfo div span{
	color: var(--text-clr);
	letter-spacing: 1px;
}
.button{
	margin-top: 20px;
}
.boton{
	text-decoration: none;
	min-width: 150px;
	padding: 8px 18px;
	font-size: var(--btn-fontSize);
	letter-spacing: 1px;
	color: var(--secondary-heading-clr);
	background-color: var(--bg-clr-one);
	border: 1px solid var(--primary-clr);
	border-radius: 25px;
	margin-top: 20px;
	cursor: pointer;
	transition: all 0.4s;
}
.boton:hover{
	color: var(--primary-clr);
	border-color: var(--secondary-heading-clr);
}
.aboutContents .aboutSkills{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px 80px;
}
.aboutSkills .skill .subject{
	font-size: var(--text-fontSize);
	font-weight: thin;
	color: var(--secondary-heading-clr);
	padding-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.aboutSkills .skill .progress_bar{
	width: 100%;
	height: 16px;
	background-color: var(--bg-clr-one);
	padding: 4px 6px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #222;
	border-radius: 15px;
}
.aboutSkills .skill .progress_bar .progress_line{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--primary-clr);
	box-shadow: -1px -1px 2px #222,
	             1px 1px 2px #111;
	border-radius: 15px;
}
.aboutSkills .skill .progress_bar .progress_line::after{
	position: absolute;
	content: attr(value);
	top: -35px;
	right: 0;
	transform: translateX(-50%);
	color: var(--secondary-heading-clr);
	font-size: var(--text-fontSize);
}




/*   *******   Media Query   *******   */

@media(max-width: 1068px){
	.aboutSection .aboutContents{
		grid-template-areas: 'aboutImage aboutSkills'
		                     'aboutInfo aboutInfo';
	}
	.aboutContents .aboutSkills{
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
	.serviceContents .serviceBox{
		flex-basis: 48%;
	}
	.portfolioContents .portfolioGallery{
		grid-template-columns: repeat(2, 1fr);
	}
	.contactForm .messageForm .halfWidth{
		flex-basis: 100%;
	}
}

@media(max-width: 968px){
	.homeSection .primaryMenu #primaryMenuBtn{
		display: block;
	}
	.homeSection .primaryMenu ul{
		position: fixed;
		width: 100%;
		height: calc(100vh - 65px);
		top: 65px;
		right: -100%;
		background-color: var(--bg-clr-one);
		border-top: 1px solid #111;
		display: flex;
		align-items: center;
		flex-direction: column;
		transition: right 0.4s cubic-bezier(1, 0.2, 0.2, 1);
		z-index: 100;
	}
	.homeSection .primaryMenu ul li{
		padding: 18px 20px;
		letter-spacing: 2px;
	}
	.homeSection .primaryMenu ul li:nth-child(1){
		margin-top: 30px;
	}
	.homeSection .primaryMenu ul li a{
		font-size: 18px;
		font-weight: 600;
	}
	#primaryMenuBtn.active .bar:nth-child(2){
		transform: translateX(-30px);
		opacity: 0;
	}
	#primaryMenuBtn.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}
	#primaryMenuBtn.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}
	.homeSection .primaryMenu ul.active{
		right: 0;
	}
}

@media(max-width: 868px){
	.aboutSection .aboutContents{
		grid-template-areas: 'aboutImage aboutImage'
		                     'aboutInfo aboutInfo'
		                     'aboutSkills aboutSkills';
	}
	
}



@media(max-width: 668px){
	.aboutInfo .aboutPersonalInfo{
		grid-template-columns: 1fr;
	}

}


@media(max-width: 350px){
	.aboutContents .aboutImage{
		min-width: 100%;
		height: auto;
	}

}
